Thumbs.db
Desktop.ini
.DS_Store
*.swp

/Dcam2*/Library
/Dcam2*/Logs
/Dcam2*/Recordings
/Dcam2*/Temp
/Dcam2*/UserSettings

/Dcam2Controller/Xcode
/Dcam2Visualizer/Assets/StreamingAssets/StableDiffusion
